h1 {
    color: #dc3545;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 50px;
    font-style: bold;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: url("https://www.milasergamer.com.br/imagem/index/24674520/G/evolut___logo.png");
}

p{
    font-family: 'Raleway', sans-serif;  
     font-size: 20px;
}